@charset "UTF-8";

@media screen and (min-width: 786px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to top, #c875c5, #61af99);
    }
    #login{
        width: 60vw;
        height: 48vh;
        
    }
    #texto{
        float: left;
        width: 200px;
        padding: 20px;
    }
    #ft{
        float: right;
        height: 100%;
        width: 50%;
    }
    form>.campo>input{
        background-color: blueviolet;
        height: 20px;
        border-radius: 8px;
        padding: 4px;
        width: calc(100% - 70px);
        transform: translateY(-10px);
      
        
    }
}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #c875c5, #61af99);
    }
    #login{
        width: 60vw;
        height: 50vh;
    }
    #texto{
        float: left;
        width: 200px;
        padding: 20px;

    }
    #ft{
        float: right;
        height: 100%;
        width: 50%;

    }
    form>.campo>input{
        background-color: blueviolet;
        height: 20px;
        border-radius: 8px;
        padding: 4px;
        width: calc(100% - 70px);
        transform: translateY(-10px);
    }
}    