@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body, html{
    position: relative;
    background-color: #c875c5;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
main{
    height: 100vh;
    
}
#login{
    display: block;
    position: absolute;
    background-color: azure;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.284);
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
}
#ft{
    display: block;
    background-color: blueviolet;
    background-image: url('../imagens/predios-1-1080x675.jpg');
    height: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#texto{
    display: block;
    padding: 10px;
}
#texto>form{
    padding-top: 10px;
} 

form>a{
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(45, 106, 51);
    color: rgb(41, 102, 54);
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
}
form>.campo{
    background-color: blueviolet;
}
form>.campo>span{
    height: 100%;
    color: aliceblue;
    background-color: black;

}
form>.campo>label{
    display: none;
}
form>input{
    display: block;
    padding: 10px;
    width: 100%;
    background-color: rgb(41, 102, 54);
    border-radius: 10px;
    color: aliceblue;
    font-weight: bolder;

}
form>input:hover{
    background-color: rgb(140, 198, 179);
    color: rgb(41, 102, 54);
}
form>a:hover{
    background-color: aquamarine;
}

