@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body, html{
    position: relative;
    background-color: #c875c5;
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
main{
    height: 100vh;
    
}
#login{
    display: block;
    position: absolute;
    background-color: azure;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.284);
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#ft{
    display: block;
    background-color: blueviolet;
    background-image: url('../imagens/predios-1-1080x675.jpg');
    height: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#texto{
    display: block;
    padding: 10px;
}
#texto>form{
    padding-top: 10px;
} 

